* { box-sizing: border-box; }  

/* body */
body {
  margin: 0;
}

.App {
  /* background: rgb(49, 45, 45); */
  /* color: lightgray; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 1.2rem; */
  /* line-height: 1.45; */
  padding: 2em;
  margin: 1em;
  /* width: 50em; */
}
p {
  color: #171616;
}

a {
  text-decoration: none;
  color: #444440;
}

.resume {
  width: 50em;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 4em 2em;
  display: grid;
  grid-template-columns: 2fr 7fr;
}

.left {
  padding: 1em;
  background: #f4f4f4;
  /* width: 15em; */
  /* min-width: 285px; */
  /* padding: 3em; */
  /* margin: .5em; */
  /* float: left; */
}

.col1-row1, .col1-row2,
.col1-row3, .col1-row4 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.col1-row2-row {
  /* margin-top: 20px; */
}

.col1-row1-row > h4 {
  font-weight: lighter;
  color: #171616;
}
.col1-row1-row > ul,
.col1-row4-row > ul {
  list-style: none;
}
.col1-row1-row > ul > li {
  margin-top: 1em;
}
.col1-row1-row > ul > li > a, 
.col1-row4-row > ul > li > a {
  text-decoration: none;
  color: #444440;
}

.col1-row2-row > h2, 
.col1-row3-row > h2,
.col1-row4-row > h2 {
  /* background-color: #4f4f4f; */
  margin-top: 5px;
  color: #444440;
}

.col1-row2-row > p {
  color: #000000;
  font-weight: bold;
}

.col1-row1-row-row1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.right {
  padding-left: 1em;
  /* background: lightcyan; */
  /* width: 50%; */
  /* text-align: left; */
  /* float: right; */
}

.col2-row1, .col2-row2, .col2-row3 {
  /* background-color: antiquewhite; */
  /* display: grid; */
  /* grid-template-rows: 1fr 2fr 2fr; */
  /* row-gap: 15px; */
  margin: 1em;
  display: flex;
  flex-direction: column;
  color: #444440;
}

.col2-row1-row {
  /* background-color: lightcoral; */
  margin-top: 2em;
  margin-bottom: 0;
  display: grid;
  grid-template-rows: 1fr; 
}

.col2-row2-row-row > h2 {
  /* background-color: lavender; */
  margin: 0;
  margin-top: 10px;
  font-style: italic;
  font-size: larger;
  color: #737373;
}

.col2-row2-row-row > ul {
  /* background-color: lavender; */
  margin: 0;
  margin-bottom: 2em;
  color: #171616;
}

.col2-row1-row-row > h4, .col2-row2-row-row > h4 {
  /* background-color: #460d0d; */
  font-size: small;
  margin: 0px;
}

.col2-row1-row-row > p,
.col2-row2-row-row > p {
  float: right;
  margin: 7px;
  font-size: 10px;
  font-weight: bold;
}

.col2-row1-row-row > ul > li >p,
.col2-row2-row-row > ul > li > p {
  margin: 7px;
  /* background-color: #000000; */
  font-size: 12px;
}

.col2-row1-row-row > i {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #4f4f4f; */
}

.col2-row1-row-row > h3 {
  /* background-color: #4f4f4f; */
  margin: 0px;
  font-size: medium;
  color: #737373;
  font-family: Arial, Helvetica, sans-serif;
}

.col2-row3-row {
  /* background-color: lightcoral; */
  display: grid;
  grid-template-rows: 1fr;
  /* grid-gap: 5px; */  
}

.col2-row3-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.col2-row3-row-row {
  /* background-color: lightgreen; */
  margin-bottom: 5px;
}

.col2-row3-row-row > p {
  /* background-color: #460d0d; */
  font-size: small;
  margin: 0;
}
.col2-row3-row-row > p > i {
  float: right;
}

/* Navigation Bar */
.sidebar {
  background: #4f4f4f;
  flex: 1 1 15%;
  min-width: 285px;
  padding: 3em;
  margin: .5em;
  border-radius: 25px;
}

.logo {
  /* text-transform: uppercase; */
  margin-bottom: 2em;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.nav-item {
  color: #460d0d;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;  
  position: relative;
}

.nav-item.contact::before {
  content: "hkarmacharya@gmail.com";
  display: block;
  position: absolute;
  background-color: gray;
  border-radius: 5px;
  bottom: 0;
  left: -100%;
  padding: 0 .5em;
  transform: scale(0);
  transition: 
    transform ease-out 150ms,
    bottom ease-out 150ms;
}
.nav-item.contact:hover::before {
  transform: scale(0.75);
  bottom: 100%;
}

@media (min-width: 1033px) {
  .sidebar {
    max-width: 500px;
  }
  .logo {
    margin-bottom: 5em;
  }
  .nav-item {
    display: block;
    margin: 7vh 0;
  }
  .nav-item.contact::before {
    left: -25%;
  }
}  

/* Content area */
.content {
  padding: 10%;
  flex: 1 1 70%;
  min-height: 100vh;
}

/* Implementing the golden ratio or Fibonacci sequence */
.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(89, 1fr);
  grid-template-columns: repeat(123, 1fr);
  grid-gap: 5px;
  position: relative;
}

.portfolio-item {
  background: lightcoral;
  color: lightcoral;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  border-radius: 25px;  
}

.portfolio-item::before {
  border-radius: 25px;
}

.portfolio-item.one {
  grid-row: 1 / span 89;
  grid-column: 1 / span 89;
  background-image: url(1.jpg);
  /* background-size: cover; */
}
.portfolio-item.one:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.one::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.one:hover::before {
  opacity: 0.2;
}

.portfolio-item.two {
  grid-row: 1 / span 55;
  grid-column: 90 / span 55;
  background-image: url(2.jpg);
}
.portfolio-item.two:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.two::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.two:hover::before {
  opacity: 0.2;
}

.portfolio-item.three {
  grid-row: 56 / span 34;
  grid-column: 111 / span 34;
  background-image: url(3.jpg);
}
.portfolio-item.three:hover {
  color: black;
  cursor: pointer;
  background-position-x: right;
}
.portfolio-item.three::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.three:hover::before {
  opacity: 0.2;
}

.portfolio-item.four {
  grid-row: 69 / span 21;
  grid-column: 90 / span 21;
  background-image: url(4.jpg);
}
.portfolio-item.four:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.four::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.four:hover::before {
  opacity: 0.2;
}

.portfolio-item.five {
  grid-row: 56 / span 13;
  grid-column: 90 / span 13;
  background-image: url(5.jpg);
}
.portfolio-item.five:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.five::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.five:hover::before {
  opacity: 0.2;
}

.portfolio-item.six {
  grid-row: 56 / span 8;
  grid-column: 103 / span 8;
  background-image: url(6.jpg);
}
.portfolio-item.six:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.six::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.six:hover::before {
  opacity: 0.2;
}

.portfolio-item.seven {
  grid-row: 64 / span 5;
  grid-column: 106 / span 5;
  background-image: url(7.jpg);
}
.portfolio-item.seven:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.seven::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.seven:hover::before {
  opacity: 0.2;
}

.portfolio-item.eight {
  grid-row: 66 / span 3;
  grid-column: 103 / span 3;
  background-image: url(8.jpg);  
}
.portfolio-item.eight:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.eight::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.eight:hover::before {
  opacity: 0.2;
}

.portfolio-item.nine {
  grid-row: 64 / span 2;
  grid-column: 103 / span 2;
  background-image: url(8.jpg);  
}
.portfolio-item.nine:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.portfolio-item.nine::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.portfolio-item.nine:hover::before {
  opacity: 0.2;
}
