* { box-sizing: content-box; }  

/* body */
body {
  margin: 0;
}

.App {
  /* background: rgb(49, 45, 45); */
  /* color: lightgray; */
  /* background-image: url(image1.jpg); */
  background-size: cover;
  background-position: center ;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
  /* font-size: 1.2rem; */
  /* line-height: 1.45; */
  /* padding: 2em; */
  /* margin: 1em; */
  /* width: 50em; */
}

p {
  color: #171616;
}

a {
  text-decoration: none;
  color: #444440;
}

/* The navigation component hides when active ---------------------------------------*/
.nav_active {
  display: none;
}
/* Navigation ---------------------------------------------------------------------- */
.navigation {
  float: left;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: x-large;
  width: 100%;
  justify-content: center;
}
.navigation > a {
  color: #000000;
  text-shadow: 2px 2px 8px #888;
}

/* Home Background            ------------------------------------------------------ */
.header {
  /* transform: translateY(2em); */
  height: 200vh;
}

.container {
  clip: rect(0, auto, auto 0);
  overflow: hidden;
  position: absolute;
  height: 100vh;
  left: 0;
  width: 100%;
  mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  /* -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%); */
}
.container_solid {
  background: white;
  top: 2em;
}
.title_wrapper {
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.title_wrapper h1 {
  text-align: center;
  font-size: 500%;
  text-transform: uppercase;
  font-family: serif;
  font-weight: 900;
}
@media (max-width: 700px) {
  .title_wrapper h1 {
    font-size: 250%;
  }
}
.container_solid .title_wrapper h1 {
  background: url(image1.jpg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: black;
}
.container_image {  
  /* Grab a free image from unsplash */  
  background-image: url(image1.jpg);  
  background-size: cover;  
  background-position: center;  
  background-attachment: fixed;  
  /* position the second container below the first container */  
  top: 100vh;  
 }  
 .container_image .title_wrapper h1 {  
  color: white;  
 }  
 /* section {  
  min-height: 100vh;  
  padding: 2em;  
  margin: auto;  
  max-width: 800px;  
 }  
 section h2 {  
  font-family: 'Fraunces', serif;  
 }  
 section p {  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";  
 }   */


/* Resume section CSS starts here --------------------------------------------------- */

.resume {
  width: 55em;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 4em 2em;
  display: grid;
  grid-template-columns: 5fr 7fr;
  background: white;
}

.save-icon {
  float: right;}

/* Left Column of Resume --------------------------------------------------------------------*/
.left {
  padding: 1em;
  background: #f4f4f4;
}

.col1-row1, .col1-row2,
.col1-row3, .col1-row4 {
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.col1-row1-row > h1 {
  color: #444440;
}
.col1-row1-row > h4 {
  font-weight: lighter;
  color: #171616;
}
.col1-row1-row > ul,
.col1-row4-row > ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.col1-row1-row > ul > li {
  margin-top: 1em;
}
.col1-row1-row > ul > li > a, 
.col1-row4-row > ul > li > a {
  text-decoration: none;
  color: #444440;
}

.col1-row2-row > h2, 
.col1-row3-row > h2,
.col1-row4-row > h2 {
  margin-top: 5px;
  color: #444440;
}

.col1-row2-row > p {
  color: #000000;
  font-weight: bold;
}

.col1-row1-row-row1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Grid for Language section */
.col1-row3-row > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.dots {
  transform: scale(2);
  justify-self: start;
  margin-left: 10px;
  letter-spacing: 2px;
}

.col1-row4-row > ul > li:hover {
  transition: .2s;  /* delays the hover effect */
  transform: scale(1, 1.15); /* becomes 1.05* bigger */
}

/* Right column of Resume -------------------------------------------------------------------------- */
.right {
  padding-left: 1em;
}

.type {
  display: flex;
  align-items: center;
  justify-content: end;
  float: none;
  /* transform: translateX(-10px); */
}

.typing-demo {
  width: 9.5em;
  /* animation: name duration timing-function delay iteration-count direction; */
  animation: typing 3.5s steps(22), blink .5s step-end infinite alternate;
  animation-iteration-count: infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: .8em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.col2-row1, .col2-row2, .col2-row3 {
  margin: 2em;
  display: flex;
  flex-direction: column;
  color: #444440;
  align-content: space-between;
}

.col2-row1-row {
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-rows: 1fr;
  height: 50px;
}
.right-heading2 {
  margin-bottom: -1em;
}

.col2-row1-row > div:hover {
  transition: .2s;  /* delays the hover effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px;
  transform: scale(1.05);
}

.col2-row2-row > div:hover {
  transition: .2s;  /* delays the hover effect */
  transform: scale(1.05);
  padding-top: 5px;
  padding-left: 5px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.col2-row2-row-row > h2 {
  margin: 0;
  margin-top: 10px;
  font-style: italic;
  font-size: larger;
  color: #737373;
}

.col2-row2-row-row > ul {
  margin: 0;
  margin-bottom: 2em;
  color: #171616;
}

.col2-row1-row-row > h4, 
.col2-row2-row-row > h4 {
  font-size: small;
  margin: 0px;
  color: #171616;
}

.col2-row1-row-row > p,
.col2-row2-row-row > p {
  float: right;
  margin: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  /* color: #737373; */
}

.col2-row1-row-row > ul > li >p,
.col2-row2-row-row > ul > li > p {
  margin: 7px;
  font-size: 12px;
}

.col2-row1-row-row > i {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.col2-row1-row-row > h3 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: medium;
  color: #737373;
  font-family: Arial, Helvetica, sans-serif;
}

.col2-row3-row {
  display: grid;
  grid-template-rows: 1fr;
}

.col2-row3-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.col2-row3-row-row {
  margin-bottom: 5px;
}

.col2-row3-row-row > p {
  font-size: small;
  margin: 0;
}
.col2-row3-row-row > p > i {
  float: right;
}

/* Fibonacci Page ------------------------------------------------------------------------ */
.fibonacci_page {
  text-align: -webkit-center;
  padding: 10%;
  min-height: 100vh;
}

/* Next and previous button for Fibonacci page ------------------------------------------- */
.change {
  padding: 12px 24px;
  border: 0;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  transition: 0.2s;
  cursor: pointer;
}

.change:hover {
  transform: scale(1.1);
}


/* Implementing the golden ratio or Fibonacci sequence ---------------------------------------------------------------------------*/
.fibonacci {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(89, 1fr);
  grid-template-columns: repeat(123, 1fr);
  grid-gap: 5px;
  position: ;
  aspect-ratio: 2/1;
  max-width: 70em;
}

.fibonacci-item {
  background: lightcoral;
  color: lightcoral;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  border-radius: 25px;  
}

.fibonacci-item::before {
  border-radius: 25px;
}

.fibonacci-item.one {
  grid-row: 1 / span 89;
  grid-column: 1 / span 89;
  /* background-image: url(1.jpg); */
  /* background-size: cover; */
}
.fibonacci-item.one:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.one::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.one:hover::before {
  opacity: 0.2;
}

.fibonacci-item.two {
  grid-row: 1 / span 55;
  grid-column: 90 / span 55;
  /* background-image: url(2.jpg); */
}
.fibonacci-item.two:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.two::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.two:hover::before {
  opacity: 0.2;
}

.fibonacci-item.three {
  grid-row: 56 / span 34;
  grid-column: 111 / span 34;
  /* background-image: url(3.jpg); */
}
.fibonacci-item.three:hover {
  color: black;
  cursor: pointer;
  background-position-x: right;
}
.fibonacci-item.three::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.three:hover::before {
  opacity: 0.2;
}

.fibonacci-item.four {
  grid-row: 69 / span 21;
  grid-column: 90 / span 21;
  /* background-image: url(4.jpg); */
}
.fibonacci-item.four:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.four::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.four:hover::before {
  opacity: 0.2;
}

.fibonacci-item.five {
  grid-row: 56 / span 13;
  grid-column: 90 / span 13;
  /* background-image: url(5.jpg); */
}
.fibonacci-item.five:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.five::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.five:hover::before {
  opacity: 0.2;
}

.fibonacci-item.six {
  grid-row: 56 / span 8;
  grid-column: 103 / span 8;
  /* background-image: url(6.jpg); */
}
.fibonacci-item.six:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.six::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.six:hover::before {
  opacity: 0.2;
}

.fibonacci-item.seven {
  grid-row: 64 / span 5;
  grid-column: 106 / span 5;
  /* background-image: url(7.jpg); */
}
.fibonacci-item.seven:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.seven::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.seven:hover::before {
  opacity: 0.2;
}

.fibonacci-item.eight {
  grid-row: 66 / span 3;
  grid-column: 103 / span 3;
  /* background-image: url(8.jpg);   */
}
.fibonacci-item.eight:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.eight::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.eight:hover::before {
  opacity: 0.2;
}

.fibonacci-item.nine {
  grid-row: 64 / span 2;
  grid-column: 103 / span 2;
  /* background-image: url(8.jpg);   */
}
.fibonacci-item.nine:hover {
  color: black;
  cursor: pointer;
  background-position-x: center;
}
.fibonacci-item.nine::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}
.fibonacci-item.nine:hover::before {
  opacity: 0.2;
}


/* Checkbox CSS modified -------------------------------------------------------------------------------------------------*/
/* label {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  transform: scale(0);
}

input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 20px;
  margin-left: 16px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 3px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
} */

/* Navigation Bar */
/* .sidebar {
  background: #4f4f4f;
  flex: 1 1 15%;
  min-width: 285px;
  padding: 3em;
  margin: .5em;
  border-radius: 25px;
}

.logo {
  margin-bottom: 2em;
}

.logo img {
  width: 40px;
  border-radius: 50%;
}

.nav-item {
  color: #460d0d;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 2em;  
  position: relative;
}

.nav-item.contact::before {
  content: "hkarmacharya@gmail.com";
  display: block;
  position: absolute;
  background-color: gray;
  border-radius: 5px;
  bottom: 0;
  left: -100%;
  padding: 0 .5em;
  transform: scale(0);
  transition: 
    transform ease-out 150ms,
    bottom ease-out 150ms;
}
.nav-item.contact:hover::before {
  transform: scale(0.75);
  bottom: 100%;
}

@media (max-width: 746px) {
  .sidebar {
    max-width: 500px;
  }
  .logo {
    margin-bottom: 5em;
  }
  .nav-item {
    display: block;
    margin: 7vh 0;
  }
  .nav-item.contact::before {
    left: -25%;
  }
}   */